<div class="bg-white rounded-lg shadow p-4 relative">
  <div class="flex gap-x-3">
    <img class="w-12 h-12 rounded-full object-cover" [src]="myProfileData.user.photo" alt="" />
    <div class="flex flex-col">
      <h2 class="font-extrabold">{{ myProfileData.user.name }}</h2>
      <span class="text-sm">@{{ myProfileData.user.username }}</span>
    </div>
  </div>
  <form (submit)="onSubmitCreatePostForm($event)">
    <div class="space-y-4 md:space-y-6 py-4 md:py-6">
      <div>
        <textarea
          [formControl]="postContent"
          [(ngModel)]="postText"
          id="message"
          rows="4"
          class="bg-neutral-secondary-medium border border-default-medium text-lg rounded-base focus:ring-blue-600 focus:bg-white focus:border-blue-800/10 block w-full p-3.5 shadow-xs placeholder:text-gray-600/60 placeholder:text-lg"
          placeholder="What's on your mind, {{ myProfileData.user.name }}?"
        ></textarea>
      </div>
      @if (imagePath) {
        <div class="relative">
          <img class="rounded-lg" [src]="imagePath" alt="" />
          <div
            (click)="closeFile()"
            class="flex absolute right-2 top-3 cursor-pointer bg-black/60 rounded-full px-1 py-1.25 items-center"
          >
            <i class="fa-solid fa-x text-xs text-white"></i>
          </div>
        </div>
      }
    </div>
    <div class="flex justify-between border-t pt-3">
      <div class="flex gap-x-2">
        <div class="flex gap-x-3 items-center">
          <label>
            <div
              class="flex items-center px-2 py-2.5 md:py-2 hover:bg-gray-200/50 rounded-full md:rounded-md transition duration-150 cursor-pointer"
            >
              <i class="fa-regular fa-image text-green-600 text-lg"></i>
              <span class="ms-2 text-sm text-gray-600 font-semibold hidden md:inline"
                >Photo/video</span
              >
            </div>
            <input
              (change)="fileUploaded($event)"
              id="myInput"
              type="file"
              class="hidden"
              accept="image/*"
            />
          </label>
        </div>
        <button
          type="button"
          class="px-2 hover:bg-gray-200/50 rounded-full md:rounded-md transition duration-150 cursor-pointer flex items-center justify-center"
          (click)="toggleShowEmoji($event)"
        >
          <i class="fa-regular fa-face-smile text-orange"></i>
          <span class="ms-2 text-sm text-gray-600 font-semibold hidden md:inline"
            >Feeling/activity</span
          >
        </button>
      </div>
      <div>
        <button
          [disabled]="!postContent.value && uploadedFile === null"
          type="submit"
          class="main-btn px-5 py-1.5 text-base rounded-md font-extrabold"
        >
          <div class="flex gap-x-2">
            <span>Post</span>
            @if (isLoading()) {
              <span><i class="fas fa-spinner animate-spin"></i></span>
            } @else {
              <span><i class="fa-regular fa-paper-plane text-sm"></i></span>
            }
          </div>
        </button>
      </div>
    </div>
  </form>
</div>
@if (showEmojis) {
  <div
    class="absolute -translate-y-4 translate-x-4 z-99 mt-2 w-85 border border-gray-200 bg-white rounded-lg shadow-xl p-4 flex justify-center"
  >
    <emoji-mart
      (emojiSelect)="addEmoji($event)"
      [set]="'facebook'"
      [showPreview]="false"
      [isNative]="true"
      [darkMode]="false"
      [perLine]="8"
      class="facebook-picker"
    >
    </emoji-mart>
  </div>
}
