<div class="mx-auto max-w-5xl">
  <div class="bg-white shadow rounded-lg p-6 my-8 mx-4">
    <div class="title my-6 flex gap-x-4 items-center">
      <div>
        <span class="bg-light-blue/10 rounded-full px-2.5 py-2"
          ><i class="fa-solid fa-key text-light-blue text-lg md:text-xl"></i
        ></span>
      </div>
      <div>
        <h1 class="text-xl md:text-3xl font-bold mb-1">Change Password</h1>
        <p class="text-gray-500">Keep your account secure by using a strong password.</p>
      </div>
    </div>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePasswordForm()">
      @let passwordControl = changePasswordForm.get('password');
      <div class="my-6">
        <label for="password" class="main-label">Current Password</label>
        <div class="relative">
          <input
            [class]="{
              'border-red-600': passwordControl?.invalid && passwordControl?.touched,
              'border-green-600': passwordControl?.valid,
            }"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            class="main-input"
            placeholder="Enter your current password"
          />
          <i
            [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
            class="absolute top-1/2 -translate-y-1/2 right-3 cursor-pointer"
            (click)="toggleShowPassword()"
          ></i>
        </div>
        @if (passwordControl?.errors && passwordControl?.touched) {
          <ul class="mt-3 space-y-1 text-red-600">
            @if (passwordControl?.getError('required')) {
              <li>Current password is required</li>
            }
          </ul>
        }
      </div>
      @let newPasswordControl = changePasswordForm.get('newPassword');
      <div class="my-6">
        <label for="newPassword" class="main-label">New Password</label>
        <div class="relative">
          <input
            [class]="{
              'border-red-600': newPasswordControl?.invalid && newPasswordControl?.touched,
              'border-green-600': newPasswordControl?.valid,
            }"
            formControlName="newPassword"
            [type]="showNewPassword ? 'text' : 'password'"
            id="password"
            class="main-input"
            placeholder="Enter your new password"
          />
          <i
            [class]="showNewPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
            class="absolute top-1/2 -translate-y-1/2 right-3 cursor-pointer"
            (click)="toggleShowNewPassword()"
          ></i>
        </div>
        @if (newPasswordControl?.errors && newPasswordControl?.touched) {
          <ul class="mt-3 space-y-1 text-red-600">
            @if (newPasswordControl?.getError('required')) {
              <li>New password is required</li>
            } @else if (newPasswordControl?.getError('pattern')) {
              <li>
                New Password should be : Minimum eight characters, at least one upper case English
                letter, one lower case English letter, one number and one special character
              </li>
            }
          </ul>
        }
      </div>
      @if (message()) {
        <div
          class="p-4 mb-4 text-sm text-fg-success rounded-base font-bold bg-success-soft"
          role="alert"
        >
          {{ message() }}
        </div>
      }
      <div>
        <button [disabled]="changePasswordForm.invalid" class="main-btn">
          Update Password
          @if (isLoading()) {
            <i class="fas fa-spinner animate-spin"></i>
          }
        </button>
      </div>
    </form>
  </div>
</div>
